<header class="nav_header">
  <%= link_to("Home", root_path) %> - <%= link_to("Blog Posts", blog_posts_path) %> - <%= link_to("Projects", projects_path) %>
  <div class ="top_line"></div>
</header>

<h3 id="about_head">About Me</h3>

<p id="about_text">Hello and welcome to my website!  It has recently been reformatted with Ruby on Rails, and I hope you've enjoyed it.<br><br>My name is Nick, I am a 22 year old Creative Writing Major and Web Developer living and looking for full-time opportunities in Chicago.<br><br>If you would like to get in touch with me feel free to find me through email or linked-in, I'm sure I would love to hear from you.  In the meantime, check out some of the projects I've worked on any of the blog posts that I wrote while I was preparing to study programming at Dev Bootcamp.</p>

<footer class="nav_footer">
  <div class="bot_line"></div>
  <a href="mailto:nick.brown2014@gmail.com?Subject=Hello"><img id="mail_nav" src="/assets/email_logo.gif"></a>
  <a href="https://github.com/nick-brown2014"><img src="/assets/github-clear.png"></a>
  <a href="https://www.linkedin.com/pub/nick-brown/88/178/b62/"><img id="link_nav" src="/assets/linkedin_png.png"></a>
  <a href="https://twitter.com/SunnyBrownCC"><img src="/assets/twitter-bird.png"></a>
</footer>